$blue-normal: #D4F500;
$blue-dark: #CAE80D;
$blue-light:#E9EF0C;


$black-normal:#2E2E33;
$black-dark:#0f0f0f;
$black-light:#474852;

$white-normal:#F8F8F8;
$white-dark: #EDEFF0;
$white-light: #FFFFFF;

$gray-1:#656676;
$gray-2:#8E8F9E;
$gray-3:#B0B1BD;
$gray-4:#C4C5D2;
$gray-5:#D6D7E0;
$gray-6:#E6E6ED;
$gray-7:#EFF0F6;


